@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  aspect-ratio: 9/16; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins); 
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); 
}